:root {
    --logo-bg: #222F3E;
    --navbar-bg: #354758;
    --header-bg: #f56600;
    --link-color: #017186;
    --link-nav: white;
    --body-color: #EAEDED;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color);
}

ul {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--logo-bg);
}

.logo {
    margin-left: 30px;
    padding: 10px;
}

.logoImg {
    width: 150px;
}

.bottomNav {
    background-color: var(--navbar-bg);
    color: var(--link-nav);
}

.navbarLinks {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0 40px;
    padding: 10px;
}

.spacing {
    padding: 20px;
    margin: 20px 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topHeader {
    background-color: var(--header-bg);
    color: var(--link-nav);
    padding: 10px;
}

.topHeader h4 {
    font-weight: 500;
    text-align: center;
}


.headerImg {
    width: 100%;
}

.headerOverlay {
    background-image: url(./assets/bg-image.png);
    background-repeat: repeat;
    background-size: contain;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerOverlay h2,
.headerOverlay h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.headerOverlay h2 {
    padding: 10px;
}

.productTxt {
    padding: 10px;
}

.linkShop{
    color: var(--link-color);
    padding-left: 10px;
}

.firstSection{
    background-color: white;
    margin: 0 20px;
}

.firstSectionImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.productImg {
    max-height: 350px;
    border-radius: 15px;
    min-height: 250px;
    object-fit: cover;
    -webkit-box-shadow: 10px 10px 30px -11px rgba(0,0,0,0.53); 
    box-shadow: 10px 10px 30px -11px rgba(0,0,0,0.53);
}

.endSections {
    text-align: center;
}

.endSectionImg {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.extraSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin-bottom: 50px;
}

.extraSectionProduct{
    background-color: white;
    margin: 0 10px 0 20px;
}

.extraSectionTitle{
    padding: 20px;
    margin-left: 20px;
    font-size: x-large;
}

.extraImg{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px;
    margin: 0 20px;
    padding: 20px;
}

.extraImg .extraProductImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.extraSectionLink{
    color: var(--link-color);
    padding: 30px 20px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}

.positionNew{
    position: relative;
}

.newProduct{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
}

.topFooter{
    background-color: var(--navbar-bg);
    text-align: center;
    padding: 20px;
}

.backTop{
    color: var(--link-nav);
}

.logoFooter{
    background-color: var(--logo-bg);
    max-height: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.footerImg{
    width: 200px;
    /* position: absolute;
    transform: translate(-50%, -50%); */
}


/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px; 
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    width: 25%;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
} */